$breakpoints: (
  desktop: 840px
);

@mixin desktop {
  @media (min-width: map-get($breakpoints,desktop)) {
    @content;
  }
}

$colours: (
  primary: #005dff,
  primary-light: lighten(#00fdff, 40%),
  primary-dark: darken(#00fdff, 40%),
  accent: #fff6bb,
  header: white,
  card-background: white
);

$paddings: (
  header: 1rem,
  card: 0.2rem 1rem 0 1rem,
  button: 1rem,
  button-desktop: 1rem 4rem
);

$margins: (
  card: 1em auto
);

$borders: (
  card: 15px,
  card-radius: 15px
);

@function colour($colour-name) {
  @return map-get($colours, $colour-name);
}

@function padding($padding-name) {
  @return map-get($paddings, $padding-name);
}

@function margin($margin-name) {
  @return map-get($margins, $margin-name);
}

@function border($border-name) {
  @return map-get($borders, $border-name);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  .bg {
    width: 100%; // make it take up full html width
    height: 100%; // and height
    z-index: -1; // put behind everything
    position: absolute; // and take out of normal flow
    background-color: colour(primary); // clip the display
    clip-path: polygon(100% 0, 100% 80%, 45% 100%, 0 100%, 0 0);

    @include desktop {
      clip-path: polygon(75% 0, 45% 100%, 0 100%, 0 0);
    }
  }

  header a {
    display: block; // padding will be applied top and bottom
    color: colour(header);
    padding: padding(header);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
  }

  main {
    @include desktop {
      display: grid;
      grid-template-columns: 50% auto;
      grid-template-areas: "primary card";
    }

    section.card {
      background-color: colour(card-background);
      padding: padding(card);
      margin: margin(card);
      border: border(card);
      border-radius: border(card-radius);
      width: 80%;
      box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);

      @include desktop {
        grid-area: "card";
        height: fit-content;
        align-self: center;
        margin-right: 4em;
      }

      ul {
        padding-left: 0;
        li {
          list-style-type: none;
          margin-bottom: 0.25rem;
          min-height: 2.375rem;
          position: relative;
          top: -0.2rem;
          left: 0.4rem;
          span {
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: colour(primary-light);
            border-radius: 50%;
            margin-right: 0.75em;
          }
          strong {
            display: inline-block;
            margin-left: 3rem;
            font-size: 0.9em;
            position: relative;
            top: 0.25rem;
          }
        }
      }
    }
    section.primary {
      color: white;
      padding: padding(card);
      text-align: center;

      @include desktop {
        text-align: left;
        grid-area: primary;
        margin-top: 4em;
        margin-left: 3em;
      }
      h1 {
        font-size: 3rem;
        text-transform: uppercase;
        @include desktop {
          width: 30%;
          font-size: 4rem;
          line-height: 1em;
        }
      }
      a {
        text-align: center;
        color: colour(primary-dark);
        border-radius: border(card);
        text-decoration: none;
        text-transform: uppercase;
        background-color: colour(accent);
        padding: padding(button);
        margin: 2.5rem auto;
        display: block;
        font-weight: bold;

        @include desktop {
          display: inline-block;
          padding: padding(button-desktop);
        }
      }
    }
  }
}
